<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      input {
        padding: 5px;
      }
      button {
        background-color: #32de84;
        border: none;
        padding: 10px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
    <title>Task 1</title>
  </head>
  <body>
    <form>
      <input class="blog" type="text" placeholder="Blogs..." />
      <button class="add-btn">Add Blog</button>
    </form>
    <script>
      const blogInput = document.querySelector(".blog");
      const addBtn = document.querySelector(".add-btn");
      let blog;
      blogInput.addEventListener("input", (e) => {
        blog = e.target.value;
      });
      addBtn.addEventListener("click", (e) => {
        e.preventDefault();
        fetch("http://localhost:3000/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ blog: blog }),
        }).then((res) => console.log(res));
      });
    </script>
  </body>
</html>
